{{define "header"}}
<header class="col-container hashed lilac">
    <div class="blue"></div>
    <div class="content">
        <h1><a href="/">{{template "header_title" .}}</a></h1>
    </div>
    <div class="blue"></div>
</header>
{{end}}
