{{define "header"}}
<header class="col-container hashed lilac">
    <div class="blue"></div>
    <div class="content">
        <h1 class="subtile"><a href="/">Power your dealership with GoCars.</a></h1>
    </div>
    <div class="blue"></div>
</header>
{{end}}
