{{define "nav"}}

    <div class="content">
        <div class="logo">
            <a href="/">{{.Title}}</a>
        </div>
        <div class="links">
            <a href="/">Home</a>
            <a href="/vehicle/list">Vehicles</a>
        </div>
    </div>
{{end}}
