{{define "base"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{template "title" .}}</title>
        <link rel='stylesheet' href='/static/css/modern.css'>
    </head>
    <body>
        <div class="row-container">
            {{template "nav" .}}
            {{template "header" .}}
            <main>
                {{template "main" .}}
            </main>
            <footer>
                <div class="content">
                    <p>&copy; {{.CurrentYear}} {{.Title}}</p>
                </div>
            </footer>
        </div>
    </body>
</html>
{{end}}
