{{define "base"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{template "title" .}} | GoCars</title>
        <link rel='stylesheet' href='/static/css/main.css'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="row-container">
            {{template "nav" .}}
            <header class="col-container hashed lilac">
                <div class="blue"></div>
                <div class="content">
                    <h1><a href="/">GoCars</a></h1>
                </div>
                <div class="blue"></div>
            </header>
            <main class="col-container">
                <div class="blue"></div>
                    {{template "main" .}}
                <div class="blue"></div>
            </main>
            <footer class="col-container hashed green">
                <div class="green"></div>
                <div class="content">
                    Powered by <a href="https://golang.org/">Go</a>
                </div>
                <div class="green"></div>
            </footer>
        </div>
    </body>
</html>
{{end}}
