{{define "nav"}}
<nav class="col-container">
    <div class="blue"></div>
    <div class="content">
        <div class="logo">
            <a href="/">GoCars</a>
        </div>
        <div class="links">
            <a href='/'>Home</a>
        </div>
    </div>
    <div class="blue"></div>
</nav>
{{end}}
